/* Reset básico
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* fondo */
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
    font-family: Arial, Helvetica, sans-serif;
}

/* Centrado */
.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tarjeta */
.login-card {
    background: #ffffff;
    width: 100%;
    max-width: 380px;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

.icono {
  display: block;
  margin: 15px auto 30px auto;
  width: 120px;
}


/* Título */
.login-title {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

/* Formulario */
.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.form-group input:focus {
    outline: none;
    border-color: #141e30;
}

/* Botón */
.btn-login {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #141e30;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn-login:hover {
    background: #037415;
}


.btn-correo {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #989ca3;
    color: rgb(7, 3, 3);
    font-size: 16px;
    cursor: pointer;
}


.btn-correo:hover {
    background: #03615c
}

.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
}