<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu </title>
    <link rel="stylesheet" href="menu.component.css" />
</head>
<body>

  <div class="main-container">

    <h1 class="main-title">TIPOS DE MOTOS </h1>

    <div class="cards-container">

      <div class="card">
        <img src="../../assets/deportivas.jpg" alt="Imagen 1">
        <h3>DEPORTIVAS </h3>
        <button class="btn-card">Ver más</button>
      </div>

      <div class="card">
        <img src="../../assets/doble.jpg" alt="Imagen 2">
        <h3>DOBLE PROPOSITO </h3>
        <button class="btn-card">Ver más</button>
      </div>

      <div class="card">
        <img src="../../assets/cross.jpg" alt="Imagen 3">
        <h3>CROSS</h3>
        <button class="btn-card">Ver más</button>
      </div>

      <div class="card">
        <img src="../../assets/naked.jpg" alt="Imagen 4">
        <h3>NAKED</h3>
        <button class="btn-card">Ver más</button>
      </div>

    </div>

  </div>
    
</body>
</html>

